*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 7vw;
    border-bottom: 2px solid black;
}

.logo{
    height: 100%;
}

.logo img{
    width: 7vw;
    height: 7vw;
}

.links{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.2vw;
}

.links a{
    padding:0 10px;
    text-decoration: none;
    color: black;
}

.links a:hover{
    margin-bottom: -2px;
    transform: scale(1.1);
}

.search{
    width: 25%;
    height: 2.5vw;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1vw;
    background-color: rgb(241, 241, 241);
}

.search input{
    border-radius: 15px;
    display: flex;
    align-items: center;
    color: black;
    font-size: 1vw;
    height: 100%;
    border: none;
    background-color: transparent;
    width: 90%;
}

.search img{
    height: 1.8vw;
    width: 10%;
}

.search input:focus{
    outline: none;
}

.search:hover{
    border: 2px solid black;
}